table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: #7ea2d9;
}
td {
    background-color: #a1afc4;
}


.hide {
    display: none;
}

.back {
    border: none;

    background-color: transparent;
    font-size: 50px;
}

.heading {
    color: rgb(24, 60, 88);
    font-size: 70px;
    text-decoration: underline;
    text-align: center;
}

th,td {
    font-size: 50px;
}

.intro {
    font-size: 60px;
}

.cont {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.layer{
    width: 40vw;
    height: 20vh;
}
.layer > h1  {
    color: rgb(6, 6, 64);
    font-size: 65px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.layer2 > h6  {
    color: rgb(6, 6, 64);
    width: 30vw;
    /* height: 30vh; */
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    
}
.layer2 > input  {
    color: rgb(6, 6, 64);
    width: 30vw;
    /* height: 30vh; */
    font-size: 30px;
    
}
.layer2 {
    height: 2   0vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* align-items: center; */
}

#input {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url("images/images.png");
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.4; */
    /* object-fit: contain; */ 
}

#input ::before {
    content: "";
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    background-image: url("images/images.png");
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main ::before {
    content: "";
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    background-image: url("images/login.jpeg");
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.container   {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    z-index: 1;


} 

.container > * {
    text-align: center;
    font-size: 20px;
    height: 33px;
}

.container > h1 {
    font-size: 40px;

}

.absent {
    background-color: rgb(198, 92, 92);
}

.present {
    background-color: rgb(106, 191, 106);
}

table {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;

}   
